<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ada0ed41be.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <section id="app">
        <div class="background">
            <div class="userinterface debug">
                <div class="userinterface-header debug">
                    <div class="col col-4 debug ">
                        <div class="user-contact">
                            <div class="user-info">
                                <ul>
                                    <li>
                                        <img src="./img/user icon.png" alt="profile_pic">
                                    </li>
                                    <li>
                                        Francesco
                                    </li>
                                </ul>
                            </div>
                            <div class=" user-tool">
                                <ul class="user-tool-list">
                                    <li>
                                        <i class="fa-solid fa-circle-notch"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-message"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-8 debug ">
                        <div class="contact-contact">
                            <div class="contact-info">
                                <ul>
                                    <li>
                                        <img :src="contacts[currentIndex].avatar" alt="profile_pic">
                                    </li>
                                    <li>
                                        <p>{{ contacts[currentIndex].name }}</p>
                                        <p>Ultimo accesso oggi alle 12:40</p>
                                    </li>
                                </ul>
                            </div>
                            <div class=" user-tool">
                                <ul class="user-tool-list">
                                    <li>
                                        <i class="fa-solid fa-circle-notch"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-message"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="userinterface-body debug">
                    <div class="col col-4 debug ">
                        <div class="notification-banner debug">
                            <i class="fa-solid fa-bell-slash"></i>
                            <ul>
                                <li>
                                    <p>Ricevi notifiche di nuovi messaggi</p>
                                </li>
                                <li>
                                    <p>Attiva notifiche desktop</p>
                                </li>
                            </ul>
                        </div>
                        <div class="searchbar">
                            <button class="searchbar-button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" class="searchbar-text">
                        </div>
                        <div class="contacts-list">
                            <ul>
                                <li v-for="(contact,index) in contacts" @click="contactDisplay(index)"
                                    class="contacts-list-item">
                                    <div>
                                        <img :src="contact.avatar" alt="profile_pic">
                                    </div>
                                    <div>
                                        <p>{{ contact.name }}</p>
                                        <p>Ultimo messaggio inviato</p>
                                    </div>
                                    <span class="last-seen">16:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-8 debug ">
                        <div class="text-area">
                            <p v-for="(message, messageIndex ,index) in contacts[currentIndex].messages"
                                :class="message.status === 'sent' ? 'user-text-sent' : 'contact-text-sent' ">
                                {{contacts[currentIndex].messages[messageIndex].message}}
                            </p>
                            <!-- <p>
                                16:00
                            </p> -->
                        </div>
                        <div class="typing-area">
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" placeholder="Scrivi messaggio..." class="typingbar">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="./js/app.js"></script>
</body>

</html>